.Rproj.user
.Rhistory
.RData
.Ruserdata
*.pdf
data/expedia/destinations.csv.gz
data/expedia/sample_submission.csv.gz
data/expedia/test.csv.gz
data/expedia/train.csv
data/expedia/train.csv.gz
data/expedia/*
